<!DOCTYPE html>
<html lang="en">
<!-- HEAD-->

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>HerFinance Resources</title>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
            crossorigin="anonymous"
    />

    <link href="static/css/styles.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous"
    />
    <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
    />

</head>

<body>

<!--NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-light bg-blue">
    <div class="container-fluid">
        <button
                class="navbar-toggler ms-auto"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-flex" style="width: 100%; justify-content: space-between">
            <a class="navbar-brand me-auto" href="{{ url_for('home') }}">
                <img src="static/images/logobl.jpg" alt="HerFinance Logo"/>
            </a>
            <div class="collapse navbar-collapse ms-auto" id="navbarNavAltMarkup">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('resources') }}">RESOURCES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('faqs') }}">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('forum') }}">FORUM</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- NAVBAR END-->

<main>
    <div class="container">

        <!--HEADER-->
        <p class="forum-title mb-3">HER FINANCE RESOURCES</p>
        <div class="row">
            <!-- slogan-->
            <div class="col-md-5 col-sm-12 d-flex align-items-center">
                <p class="lead ms-auto mt-5" style="max-width: 70%; text-align:right;">
                    Start your investment <b>today</b>
                </p>
            </div>
            <div class="col-md-7 col-sm-12">
                <img src="static/images/women-finance.jpeg" class="me-auto" alt="women" width="100%"/>
            </div>
        </div>

        <hr class="section-break"/>

        <!-- ARTICLES-->
        <p class="platform-header mb-3"><span class="articles-header" style="border-bottom: 10px solid #5abfb4;">ARTICLES</span>
        </p>
        <div class="d-flex justify-content-center mt-4">
            <p class="money" style="line-height:1.7; letter-spacing: 1.5px; max-width: 80%; text-align: center;">
                Want to start investing but don't know where to start? Don't worry, we've helped you gather all the
                latest articles from <a href="https://www.londonstockexchange.com/"
                                        style="color:#7B98F6;"> London Stock Exchange</a> to teach
                you how to start <b>your</b> investment journey.

            </p>
        </div>

        <div class=" row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-5">

            {% for item in info %}
            <div class="col">
                <div class="card" style="box-shadow: 8px 10px #5ABFB4;">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{item['image']}}"/>
                    <div class="card-body" style="font-family: Montserrat, sans-serif;">
                        <h5>{{item['heading']}}</h5>
                        <a style="font-size: 12px"
                           href="{{item['contributor']['link']}}">{{item['contributor']['name']}}</a>
                        <p class="card-text">{{item['description']}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{item['article']}}"
                                   target="_blank">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <hr class="section-break"/>

        <!--   PODCASTS  -->
        <p class="platform-header mb-3"><span class="articles-header" style="border-bottom: 10px solid #5abfb4;">PODCASTS</span>
        </p>
        <div class="d-flex justify-content-center my-4">
            <p class="money" style="line-height:1.7; letter-spacing: 1.5px; max-width: 80%; text-align: center;">
                We have also gathered some of the best female investment podcasts from <a
                    href="https://www.spotify.com/uk/home/" style="color:#7B98F6;">Spotify</a> to help you along on <b>your</b>
                journey.
            </p>
        </div>

        <div class="row">
            {% for podcast in playlist %}
            <div class="col-md-4 col-sm-12 podcast">
                <img src="{{podcast['image']['url']}}" alt="podcast thumbnail" class="d-block mx-auto">
                <p class="pod-title mt-3">{{podcast['name']}}</p>
                <p style="text-align: center; line-height: 1.5;">{{podcast['description']}}</p>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-outline-secondary" href="{{podcast['url']}}">Listen now</a>
                </div>

            </div>
            {% endfor %}
        </div>
        <hr class="section-break"/>

        <!--   OTHER RESOURCES -->
        <p><span style="border-bottom: 3px solid #5abfb4">Other Resources to check out:</span></p>
        <ol>
            <li><a href="https://thefinancialdiet.com/" class="btn btn-outline-secondary">The financial diet</a>
            </li>
            <li><a href="https://www.investorschronicle.co.uk/" class="btn btn-outline-secondary">Investor's
                chronicle</a></li>
            <li><a href="https://thefwforum.com/" class="btn btn-outline-secondary">The fw forum
                under 30</a></li>
            <li><a href="https://www.nidirect.gov.uk/articles/national-savings-investments-nsi"
                   class="btn btn-outline-secondary">nidirect
            </a></li>
            <li><a href="https://www.hl.co.uk/beginners-guides/invest-stock-market-shares"
                   class="btn btn-outline-secondary">hl.com
            </a></li>
        </ol>

        <div class="footer">
            <div class="container">
                <hr class="footer-hr"/>

                <!-- scroll to top btn-->

                <button id="btnScrollToTop">
                    <i class="fas fa-chevron-circle-up"></i>
                </button>
            </div>
        </div>
    </div>
</main>


<!-- JS -->
<script
        src="https://kit.fontawesome.com/211ade590b.js"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"
></script>
<script src="static/app.js"></script>
</body>
</html>